<div class="toolbar" role="banner">
  <img
    width="120"
    alt="UofL Logo"
    src="../assets/uofl_logo_red.png"
    routerLink="/"
    class="uofl-logo"
  />
  <span class="nav-header">The World of All Brain Tumors - Gene Expression Database</span>
</div>

<div class="content" role="main">

  <router-outlet></router-outlet>

  <footer>
      <p class="footer-text">The World of All Brain Tumors created in 2022. Submit bugs <a href="https://forms.gle/WFnghDDdSXZ4h89o8" target="_blank">here</a>.</p>
  </footer>

</div>