<div class="dimredplot-content">
  
  <div class="one-line-header">
    <h2 class="title">Brain Tumor Map</h2>
    <div>
      <button mat-raised-button (click)="refreshChart()" class="reset-button">Reset Chart</button>
    </div>
  </div>

  <div class="one-line">
    <div class="chart-container" [style.width.px]="chartWidth" [style.height.px]="chartHeight">
      <canvas baseChart
        [data]="scatterChartData"
        [options]="scatterChartOptions"
        [type]="scatterChartType"
        >
      </canvas>
    </div>
  
    <div class="scrollable-legend" [style.height.px]="chartHeight">
      <div class="chart-legend" *ngIf="chart?.chart as scatterChart">
        <div class="chart-legend-item" *ngFor="let item of chart?.chart?.legend?.legendItems" (click)="onLegendItemClick($event, item)">
          <span class="chart-legend-item-color" [ngStyle]="{ background: item.fillStyle }"></span>
          <span class="chart-legend-item-text" [ngClass]="{ 'chart-legend-item-text-active-filter': isItemFilterActive(item) || isBeforeFilter == true, 'chart-legend-item-text-inactive-filter': !isItemFilterActive(item) }">
            {{ item.text }}
          </span>
        </div>
      </div>
    </div>
  </div>

  
  
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise"></ngx-spinner> 