/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

.mat-form-field {
    width: 100% !important;
    text-align: center !important;
}

html,
body{
    font-family: "Helvetica Neue", sans-serif;
}

html {
  height: 100% !important;
}

body {
  /* min-height: 100% !important;
  padding-bottom: 20px; */
  margin: 0px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.content {
  display: flex;
  margin: 0 auto 0;
  padding: 65px 5%;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 65px);
  /* max-width: 960px; */
}

.main-content {
  
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

/* Responsive Styles */
@media screen and (max-width: 800px) {
  .side-image {
    display: none;
  }

  .title {
    font-size: medium;
  }

  .description {
    font-size: small !important;
  }

  .footnote {
    font-size: xx-small !important;
  }

  .footer-text {
    font-size: x-small !important;
    margin: 0px 0 0px !important;
  }

  .uofl-logo {
    width: 40px !important;
  }

  .kscirc-logo {
    width: 40px !important;
  }

  .nav-header {
    font-size: small !important;
    text-align: center !important;
  }

  .search-content {
    width: 90vw;
  }

  .advanced-search-accordion {
    display: none !important;
  }

  /* .tab-group {
    width: 400px !important;
  } */

  .legend {
    display: none !important;
  }

  .download-source-btn {
    display: none !important;
  }

  span.legend-label-text {
    font-size: 6px !important;
  }

  span.legend-label-color {
    /* width: 10px !important; */
    height: 10px !important;
  }
}

.ngx-slider-limit {
  visibility: hidden !important;
}

.ngx-slider-model-value {
  visibility: hidden !important;
}

.ngx-slider-model-high {
  visibility: hidden !important;
}

.mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex {
  background-color: rgba(0,0,0,.04) !important;
}

.center {
  text-align: center !important;
}

.uofl-logo:hover {
  cursor: pointer;
}

.one-line-header {
  display: flex; 
  justify-content: space-between; 
  align-items: baseline;
  /* padding-bottom: 15px; */
}

.one-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

html { height: 100%; }

.chart-container {
  display: block;
  /* width: 1500px; */
  width: 100%;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  /* background-color: #5c6a77; */
  /* color: white; */
  background-color: #191919;
  color: lightgrey;
  font-weight: 600;
  z-index: 9999;
}

.toolbar img {
  margin: 0 16px;
}

footer {
  margin-top: 8px;
  /* display: flex; */
  align-items: center;
  line-height: 20px;
  position: fixed;
  z-index: 9999;
  bottom: 0px; /* was 5 */
  width: 100%;
  text-align: center !important;
  background-color: #191919;
  /* background-color: #5c6a77; */
  color: lightgray;
  overflow:hidden !important;
}

footer a {
  display: flex;
  align-items: center;
}

.reset-button {
  background-color: #191919;
  color: lightgray;
}

.title {
  color: lightgrey;
}
/* 
body {
  background-color: #282828;
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
} */