/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

.mat-form-field {
    width: 100% !important;
    text-align: center !important;
}

.gene-info {
  max-width: 850px;
}

.description {
  font-size: medium !important;
}

body{
    font-family: "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #5c6a77;
  color: white;
  font-weight: 600;
  z-index: 9999;
}

.toolbar img {
  margin: 0 16px;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

footer {
  margin-top: 8px;
  /* display: flex; */
  align-items: center;
  line-height: 20px;
  position: fixed;
  z-index: 9999;
  bottom: 0px; /* was 5 */
  width: 100%;
  text-align: center !important;
  background-color: #5c6a77;
  color: lightgray;
}

footer a {
  display: flex;
  align-items: center;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

/* Responsive Styles */
@media screen and (max-width: 800px) {
  .side-image {
    display: none;
  }

  .title {
    font-size: medium;
  }

  .description {
    font-size: small !important;
  }

  .footnote {
    font-size: xx-small !important;
  }

  .footer-text {
    font-size: x-small !important;
    margin: 0px 0 0px !important;
  }

  .uofl-logo {
    width: 40px !important;
  }

  .kscirc-logo {
    width: 40px !important;
  }

  .nav-header {
    font-size: small !important;
    text-align: center !important;
  }

  .search-content {
    width: 90vw;
  }

  .advanced-search-accordion {
    display: none !important;
  }

  /* .tab-group {
    width: 400px !important;
  } */

  .legend {
    display: none !important;
  }

  .download-source-btn {
    display: none !important;
  }

  span.legend-label-text {
    font-size: 6px !important;
  }

  span.legend-label-color {
    /* width: 10px !important; */
    height: 10px !important;
  }
}

.mat-form-field {
  width: 100% !important;
}

/* Make lines in line chart thick, with rounded ends */
g.line-chart > g:last-of-type > g:nth-child(n) g.line-series > path {
  stroke-width: 5;
  stroke-linecap: round;
}

.ngx-slider-limit {
  visibility: hidden !important;
}

.ngx-slider-model-value {
  visibility: hidden !important;
}

.ngx-slider-model-high {
  visibility: hidden !important;
}

.mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex {
  background-color: rgba(0,0,0,.04) !important;
}

.center {
  text-align: center !important;
}

.uofl-logo:hover {
  cursor: pointer;
}

.one-line-header {
  display: flex; 
  justify-content: space-between; 
  align-items: baseline;
}

.one-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-center {
  padding-right: 15px;
  padding-left: 15px;
}

.content {
  max-width: 1480px !important;
}

.right-content {
  position: absolute;
  right: 20%;
}

.description {
  font-size: larger;
}

.footnote {
  font-size: medium;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.google-visualization-tooltip {
  width: auto !important;
  height: auto !important;
  pointer-events: none;
  /* position: relative !important; 
  top: 0 !important;
  right: 0 !important;   */
  z-index: +1 !important;
}

.google-visualization-tooltip-item {
  margin: 0 !important;
}